@tailwind base;
@tailwind components;
@tailwind utilities;


.faq-content ul {
  list-style-type: disc;
  margin-left: 1rem;
  /* Add left margin for indentation */
  padding-left: 1rem;
  /* Add padding-left to align bullets */
}